[submodule "repeat-clustering/pipeline"]
	path = repeat-clustering/pipeline
	url = https://gitlab.com/IGBB/pipelines/repeat-clustering.git
[submodule "dotplots/pipeline"]
	path = dotplots/pipeline
	url = https://gitlab.com/IGBB/pipelines/dotplots.git
[submodule "annotations/pipeline"]
	path = annotations/pipeline
	url = https://gitlab.com/IGBB/pipelines/annotation.git
